@import url("https://use.typekit.net/sgh1fdj.css");
.App {
  height: 100vh;
  max-height: 100vh;
  background-color: #3E3D41;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 2rem;
  padding-bottom: 75px;
  gap: 5.7rem;
  font-family: "termina", sans-serif;
}
body{
  background-color: #3E3D41;
}
#skema{
  grid-row: 1 / 5;
  grid-column: 2 / 4;
  background-image: url(./assets/lines.svg);
}
#skema .content{
  display: flex;
  flex-direction: column;
  height: calc(100% - 164px);
  gap: 4rem;
}
#skema .class{
  display: flex;
  justify-content: space-between;
  font-size: 3.6rem;
  background-color: #DDD2B9;
  padding: 2rem;
  border: 5px solid #424042;
  align-items: center;
}
#skema .class h3{
  margin: 0;
  font-size: 3.6rem;
  padding: 2rem;
  font-weight: 500;
}
#skema .tid{
  font-weight: 600;
  border-left: 5px solid #3E3D41;
  height: 100%;
  padding: 2.2rem 4.6rem;
}
#skema .class .buttons{
  display: flex;
}
#skema .class span:first-child{
  background-color: #3E3D41;
  border: 5px solid #707070;
  color: #DDD2B9;
  padding: 2.2rem 4.6rem;
  min-width: 43rem;
  text-align: center;
  font-weight: bold;
}
#skema .class span:last-child{
  background-color: transparent;
  border: 5px solid #707070;
  color: #fafafa;
  padding: 2.2rem 4.6rem;
  min-width: 45rem;
  text-align: center;
  font-weight: 600;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.403);
}
#skema .top div{
  font-size: 6.5rem;
}
#praktiskInfo{
  grid-column: span 2;
}
#busAfgang{
  grid-row: 2 / 5;
}
#busAfgang .content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: calc(100% - 154px); 
  gap: 10rem;
}
#busAfgang .content .trip{
  display: flex;
  font-size: 3.6rem;
  align-items: center;
  height: 10rem;
}
#busAfgang .content .trip .left{
  width: 50%;
  border-right: 5px solid #3E3D41;
  margin-right: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}
#skema .header{
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 3.6rem;
  background-color: #DDD2B9;
  padding: 2rem;
  border: 5px solid #424042;
  align-items: center;
}
#praktiskInfo .content{
  display: flex;
}
#praktiskInfo .content .left, #praktiskInfo .content .right{
  width: 50%;
}
.content{
  padding: 3rem;
}
.top{
  padding: 3rem;
  background-color: #CE433D;
  color: #DDD2B9;
  display: flex;
  justify-content: space-between;
}
h3{
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
h2{
  font-size: 6.5rem;
  text-shadow: -0.8rem 0.8rem #3E3D41;
  text-transform: uppercase;
}
p{
  font-size: 3.6rem;
}
section{
  background-color: #DDD2B9;
}
.shadow{
  text-shadow: -0.8rem 0.7rem #3E3D41;
}
#skema .top div{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}
#skema .time {
  border-right: 5px solid #424042;
  padding-right: 5rem;
}
#skema .weather{
  border-left: 5px solid #424042;
  padding-left: 5rem;
}
#skema .content{
  overflow: hidden;
}
#news {
  position: absolute;
}
.news{
  position: absolute !important;
  bottom: 0;
  left: 0;
  font-size: 3.6rem !important;
  background-color: #CE433D;
  color: #DDD2B9;
  font-weight: bold;
  grid-column: span 3;
}
.news-item{
  margin: 0 2rem;
}
.error{
  position: absolute !important;
  bottom: 0;
  left: 0;
  background-color: hsl(53, 73%, 67%);
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='10' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  font-size: 3.6rem;
  text-align: center;
  width: 100%;
}
#busAfgang .content img{
  height: 500px;
  width: 500px;
  margin: 0 auto;
}